:root {
  --txtLightBlue: #97a5ce;
  --txtLightGrey: #ebebf2;
  --backgroundDarkBlue: #171f38;
  --backgroundLighterBlue: #242e4c;
  --orange: #ee4d38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(5, 5, 30); */
  background-color: var(--backgroundDarkBlue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* LoginForm.js */

.form-wrapper {
  width: 80%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(86, 86, 86, 0.7); */
  background-color: var(--backgroundLighterBlue);
  border-radius: 15px;
}

.form-wrapper form {
  margin: auto;
  padding: 50px;
  width: 50%;
}

.form-wrapper form h2 {
  text-align: center;
  color: var(--txtLightGrey);
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 2px;
}

.form-wrapper form .form-field {
  margin: 20px 0;
}

.form-wrapper form label {
  display: block;
  margin-bottom: 5px;
  color: var(--txtLightBlue);
  font-size: 14px;
}

.form-wrapper form input {
  padding: 10px;
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--backgroundDarkBlue);
  border-radius: 5px;
  color: #fff;
}

.form-wrapper form input:focus {
  border: 1px solid var(--orange);
  transition: 0.3s;
}

.form-wrapper form input::placeholder {
  color: var(--txtLightBlue);
}

.regular-button {
  padding: 10px 20px;
  border: 1px solid var(--txtLightBlue);
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
}

.regular-button:hover {
  background-color: var(--orange);
  color: #fff;
  border: 1px solid var(--orange);
  transition: 0.3s;
}

.error {
  color: red;
  margin: 20px 0;
}

/* Register section */

.register-section {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-section h2 {
  margin-bottom: 10px;
  color: var(--txtLightGrey);
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 2px;
}

/* Register modal */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--backgroundLighterBlue);
  border-radius: 15px;
  width: 100%;
  color: white;
}

.modal h2 {
  text-align: center;
  padding-top: 20px;
  color: var(--txtLightGrey);
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 2px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  font-weight: 700;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
}

/* Google login section */
.google-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;

  h2 {
    margin-bottom: 10px;
    color: var(--txtLightGrey);
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  button {
    display: flex;
    align-items: center;
    gap: 5px;
    img {
      width: 20px;
    }
  }
}

/* Home page */

.home-page-wrapper {
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.icon-btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.icon-btn img {
  max-width: 32px;
}
.navbar-items p {
  text-align: center;
  font-weight: 900;
  font-size: 1.2rem;
}

.notification-user button:first-child {
  margin-right: 20px;
}

.container {
  width: 80%;
  margin: auto;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--txtLightGrey);
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 2px;
}

/* Post form */
.post-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px auto;
}

.post-form textarea {
  width: 100%;
  height: 100px;
  resize: none;
  outline: none;
  border: 2px solid var(--backgroundLighterBlue);
  border-radius: 10px;
  background-color: var(--backgroundLighterBlue);
  color: var(--txtLightGrey);
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
}

.post-form textarea:focus {
  border: 2px solid var(--orange);
  transition: 0.3s;
}

.post-form textarea::placeholder,
.post-comment form textarea::placeholder {
  color: var(--txtLightBlue);
}

.post-form .regular-button {
  margin-top: 20px;
  font-size: 20px;
  align-self: flex-end;
  border-radius: 10px;
}

/* Single post */

.single-post {
  width: 60%;
  margin: 15px auto;
  border: 2px solid var(--backgroundDarkBlue);
  background-color: var(--backgroundLighterBlue);
  border-radius: 10px;
  padding: 15px;
  color: var(--txtLightGrey);
}

.single-post-text {
  padding-bottom: 10px;
}

.post-details {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 15px 0;
}

.post-comment form {
  display: flex;
  justify-content: space-between;
}

.post-comment form textarea {
  resize: none;
  outline: none;
  border: 1px solid var(--txtLightBlue);
  border-radius: 10px;
  background-color: transparent;
  color: var(--txtLightGrey);
  padding: 10px;
  width: 100%;
  margin-right: 10px;
}

.post-comment form textarea:focus {
  border: 1px solid var(--orange);
  transition: 0.3s;
}

.post-comment form button {
  border-radius: 10px;
  font-size: 14px;
}

.comment-buttons {
  display: flex;
}

.comment-buttons-child {
  margin: 0 10px;
  display: flex;
  align-items: end;
}

.comment-buttons-child button {
  display: flex;
  align-items: end;
}

.comment-buttons-child button span {
  color: var(--txtLightGrey);
  margin-left: 5px;
}

.comment-buttons img {
  width: 25px;
}

.likes p {
  margin-left: 10px;
}

/* INDIVIDUAL COMMENT */
.individual-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.individual-comment-inner {
  display: flex;
  align-items: end;
}

.individual-comment-inner button img {
  display: flex;
  align-items: end;
}

.individual-comment-inner p {
  display: inline-block;
}

.individual-comment button img {
  width: 25px;
  margin: 0 10px;
}

.individual-comment button span {
  color: #fff;
}

/* User info */

.user-info-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: var(--backgroundLighterBlue);
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info-content {
  width: 100%;
  padding: 20px;
  border-radius: 5px;

  text-align: center;
  font-size: 24px;
}

.user-info-form input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  margin: 20px 0;
  border: 1px solid var(--backgroundDarkBlue);
  border-radius: 10px;
  background-color: var(--backgroundLighterBlue);
  color: var(--txtLightGrey);
}

.user-info-form .form-buttons {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  border: 1px solid transparent;
  color: red;
  border: 1px solid red;
  letter-spacing: 1.2px;

  transition: 0.3s ease;
}

/* .delete-button:hover {
 
  color: red;

  color: #fff;
} */

/* Notification modal */
.notification-modal-content {
  max-height: 80%; /* Limits modal height */
  overflow-y: auto; /* Adds vertical scroll if content overflows */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.read-all {
  display: flex;
  align-items: end;
  transition: 0.3s;
}

.read-all:hover {
  transform: scale(1.1);
}

.read-all span {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

.single-notification {
  width: 90%;
}

.single-notification p {
  text-align: left;
  font-size: 1rem;
}

.notification-details {
  display: block;
}

.read-no {
  background-color: red;
}

/* Infinite scroll */
.scroll-loading {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}

.scroll-end-message {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}
